# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================================
# Thêm cho dự án WebGIS
# =====================================

# File Excel
*.xlsx
*.xls
*.xlsm

# File sao lưu
*Copy*
*luu*
*backup*
*.bak

# File tạm
Thumbs.db
*.tmp

# Upload tạm
/public/Upload/*
!/public/Upload/Luu_y.png

# Cache Python
__pycache__/
*.pyc
# Local Netlify folder
.netlify

# React cache
node_modules/.cache/

# Logs
logs/

# Nếu đây là thư mục sao lưu thì bỏ qua
B-n-m-a-d-b-o/
Map_rain_forecast-/

gcm-diagnose.log
link_web.txt
map.gitignore.txt
MapFull.(sua)newjsx